body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text{
  margin-left: 16px;
  font-size: 32px;
  font-weight: 900;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.sidebar {
  width: 300px;
  background: royalblue;
  /* flex-basis: auto; */
  padding: 16px;
  flex-shrink: 0;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  /* display: flex; */
  /* flex-wrap: wrap; */
  padding: 32px;
  width: 50%;
  /* flex:0.5; */
  /* height: 30px; */
  /* flex: 5; */

}

.content{
  display: flex;
  flex: 1;
  /* flex-shrink: 0; */
  /* flex-basis: auto; */
  /* flex-wrap: wrap; */
}

a{
  font-size: 24px;
  color: white;
  text-decoration: none;
}

.cards{
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1rem;
  padding: 2rem;
}